@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

.container {
    border: 2px solid #000;
    background-color: yellowgreen;
    display: flex;
    /* 부모한테 flex 적용 */
    flex-direction: row;
    /* 기본값 */
    /*   flex-direction: column;
     flex-direction: row-reverse; ( = float:right )
     flex-direction: column-reverse;   */
}



.container .item {
    border: 2px solid #000;
    background-color: gold;
    width: 40%;
}